@font-face {
    font-family: 'GoodDog New';
    font-display: swap;
    src: url(../fonts/gooddognew.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Daft Brush';
    font-display: swap;
    src: url(../fonts/Daft-Brush.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  *::after,
  *::before {
    display: inline-block;
  }
  body,
  html {
    height: 100%;
    min-width: 320px;
  }
  body {
    color: #000;
    line-height: 1;
    font-family: 'Daft Brush';
    font-size: 1.5rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  button,
  input,
  textarea {
    font-family: 'Daft Brush';
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
  }
  input,
  textarea {
    width: 100%;
  }
  button,
  option,
  select {
    cursor: pointer;
  }
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  body {
    line-height: 1.2;
  }
  .lock body {
    overflow: hidden;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  @supports (overflow: clip) {
    .wrapper {
      overflow: clip;
    }
  }
  .wrapper > main {
    flex: 1 1 auto;
  }
  .wrapper > * {
    min-width: 0;
  }
  [class*='__container'] {
    max-width: 76.875rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__link {
    color: #000;
    text-align: center;
    font-family: 'Daft Brush';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: scale 0.1s ease 0s;
  }
  .icon-menu {
    display: none;
  }
  .ibg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .ibg--top {
    -o-object-position: top;
    object-position: top;
  }
  .ibg--bottom {
    -o-object-position: bottom;
    object-position: bottom;
  }
  .ibg--left {
    -o-object-position: left;
    object-position: left;
  }
  .ibg--right {
    -o-object-position: right;
    object-position: right;
  }
  .ibg--contain {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
  }
  .header__box {
    position: relative;
    z-index: 2;
    max-width: 76.875rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 3px solid #000;
    background: #fff;
    width: 100%;
  }
  .header__logo {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    align-self: flex-end;
  }
  .header__logo img {
    transition: box-shadow 0.2s ease 0s;
  }
  .header__menu {
    flex: 1 1 auto;
  }
  .header__button {
    flex-shrink: 0;
    background-color: red;
    width: 10.625rem;
    height: 3rem;
    text-transform: uppercase;
    border-radius: 8px;
    border: 3px solid #000;
    background: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.1s ease 0s;
  }
  .footer {
    background-color: #000;
    color: #fff;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__text {
    max-width: 35rem;
    color: #fff;
    text-align: center;
    font-family: 'GoodDog New';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .footer__copy {
    color: #fff;
    text-align: center;
    font-family: 'GoodDog New';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  @-webkit-keyframes decor1 {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes decor1 {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  @-webkit-keyframes anim1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes anim1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .decor-box {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
  }
  .decor-box span {
    position: absolute;
    aspect-ratio: 1;
    background-image: url(../img/decor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: decor1 linear infinite;
    animation: decor1 linear infinite;
  }
  .hero {
    position: relative;
    min-height: 100vh;
    background-color: black;
    border-bottom: 2px solid #000;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__main {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .hero__title {
    width: 60%;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .loaded .hero__title {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .hero__title img {
    width: 60%;
  }
  .hero__social {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin-bottom: 40px;
  }
  .loaded .hero__social {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.5s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.5s forwards;
  }
  .hero__social-item {
    border-radius: 8px;
    border: 3px solid #000;
    background: #978deb;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    transition: text-shadow 0.2s ease 0s;
    color: #000;
    text-align: center;
    font-family: 'Daft Brush';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: scale 0.1s ease 0s;
  }
  .hero__ca {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .loaded .hero__ca {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 1s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 1s forwards;
  }
  .hero__ca-address {
    color: #000;
    font-family: 'Daft Brush';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-break: break-all;
    border-radius: 8px;
    border: 3px solid #000;
    padding: 0.625rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  .hero__ca-text {
    color: #000;
    text-align: center;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 940px;
  }
  .about {
    background-color: #fcfcfd;
    border-bottom: 2px solid #000;
  }
  .about__container {
    display: flex;
    align-items: flex-start;
  }
  .about__image {
    flex-shrink: 0;
  }
  .about__image img {
    width: 100%;
  }
  .about__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  .about__title {
    color: #000;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .about__title._watcher-view {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .about__text {
    color: #000;
    font-family: 'GoodDog New';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about__text._watcher-view {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .about__button {
    align-self: flex-start;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    border: 3px solid #000;
    background: #000;
    width: 260px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8970fc;
    font-family: 'GoodDog New';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: scale 0.1s ease 0s;
  }
  .how {
    background-color: black;
    border-bottom: 2px solid #000;
  }
  .how__container {
    display: flex;
    align-items: center;
  }
  .how__content {
    flex: 1 1 auto;
  }
  .how__title {
    color: white;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .how__title._watcher-view {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .how__steps {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .how__step {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .how__step._watcher-view {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .how__step-title {
    display: flex;
    align-items: center;
  }
  .how__step-title span:nth-child(1) {
    flex-shrink: 0;
    color: white;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50%;
    border: 4px solid #000;
    background: #a595ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how__step-title span:nth-child(2) {
    color: white;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .how__step-text {
    color: white;
    font-family: 'GoodDog New';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .how__step-text a {
    text-decoration: underline;
  }
  .how__image {
    flex-shrink: 0;
  }
  .how__image img {
    width: 100%;
  }
  .memes {
    border-bottom: 2px solid #000;
    background: #ffffef;
  }
  .memes__title {
    color: #000;
    font-family: 'Daft Brush';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .memes__title._watcher-view {
    -webkit-animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
    animation: anim1 0.3s cubic-bezier(1, 0.32, 1, 1.06) 0.2s forwards;
  }
  .swiper-slide__image {
    width: 100%;
  }
  .swiper-slide__image img {
    max-width: 100%;
  }
  .swiper {
    overflow: hidden;
  }
  .swiper-initialized {
    touch-action: pan-y;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }
  .swiper-vertical .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
  }
  .swiper-initialized .swiper-slide {
    flex-shrink: 0;
  }
  .swiper-android .swiper-slide,
  .swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .swiper-button-lock {
    display: none !important;
  }
  @media (min-width: 76.875em) {
    .menu__list {
      -webkit-column-gap: 3.75rem;
      -moz-column-gap: 3.75rem;
      column-gap: 3.75rem;
    }
    .header {
      padding-top: 1.75rem;
    }
  
    .header__box {
      -webkit-column-gap: 7.5rem;
      -moz-column-gap: 7.5rem;
      column-gap: 7.5rem;
    }
    .header__logo img {
      width: 15.75rem;
    }
    .footer {
      padding-top: 1.875rem;
    }
    .footer {
      padding-bottom: 1.875rem;
    }
    .footer__container {
      font-size: 1rem;
    }
    .footer__text {
      margin-bottom: 1.25rem;
    }
    .footer__text {
      margin-top: 1.25rem;
    }
    .page__hero {
      padding-top: 10rem;
    }
    .page__hero {
      padding-bottom: 5rem;
    }
    .page__about {
      padding-top: 8.75rem;
    }
    .page__about {
      padding-bottom: 8.75rem;
    }
    .page__how {
      padding-top: 6.25rem;
    }
    .page__how {
      padding-bottom: 6.25rem;
    }
    .page__memes {
      padding-top: 6.25rem;
    }
    .page__memes {
      padding-bottom: 6.25rem;
    }
    .decor-box span {
      width: 6.25rem;
    }
    .hero__main {
      margin-bottom: 1.875rem;
    }
    .hero__social-item {
      height: 4rem;
    }
    .hero__social-item {
    }
    .hero__ca-address {
      font-size: 2rem;
    }
    .hero__ca-text {
      font-size: 2rem;
    }
    .about__image {
      width: 31.25rem;
    }
    .about__content {
      padding-left: 5rem;
    }
    .about__title {
      font-size: 7.5rem;
    }
    .about__text {
      row-gap: 1.25rem;
    }
    .about__text {
      font-size: 1.5rem;
    }
    .about__text {
      margin-bottom: 2.25rem;
    }
    .how__content {
      padding-right: 5rem;
    }
    .how__title {
      font-size: 7.5rem;
    }
    .how__title {
      margin-bottom: 1.25rem;
    }
    .how__step-title {
      -webkit-column-gap: 1.5rem;
      -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
    }
    .how__step-title {
      margin-bottom: 0.9375rem;
    }
    .how__step-title span:nth-child(1) {
      width: 3rem;
    }
    .how__step-title span:nth-child(1) {
      height: 3rem;
    }
    .how__step-title span:nth-child(1) {
      font-size: 2rem;
    }
    .how__step-title span:nth-child(2) {
      font-size: 2.5rem;
    }
    .how__step-text {
      font-size: 1.375rem;
    }
    .how__image {
      width: 31.25rem;
    }
    .memes__title {
      margin-bottom: 2.5rem;
    }
    .memes__title {
      font-size: 7.5rem;
    }
  }
  @media (max-width: 20em) {
    .header {
      padding-top: 1.5rem;
    }
  
    .footer {
      padding-top: 1.25rem;
    }
    .footer {
      padding-bottom: 1.25rem;
    }
    .footer__container {
      font-size: 0.875rem;
    }
    .footer__text {
      margin-bottom: 0.9375rem;
    }
    .footer__text {
      margin-top: 0.9375rem;
    }
    .page__hero {
      padding-top: 8.75rem;
    }
    .page__hero {
      padding-bottom: 2.5rem;
    }
    .page__about {
      padding-top: 3.75rem;
    }
    .page__about {
      padding-bottom: 3.75rem;
    }
    .page__how {
      padding-top: 2.5rem;
    }
    .page__how {
      padding-bottom: 2.5rem;
    }
    .page__memes {
      padding-top: 2.5rem;
    }
    .page__memes {
      padding-bottom: 2.5rem;
    }
    .decor-box span {
      width: 2.5rem;
    }
    .hero__main {
      margin-bottom: 1.25rem;
    }
    .hero__social-item {
      height: 3rem;
    }
    .hero__social-item {
    }
    .hero__ca-address {
      font-size: 1.5rem;
    }
    .hero__ca-text {
      font-size: 1.25rem;
    }
    .about__image {
      width: 15rem;
    }
    .about__title {
      font-size: 5rem;
    }
    .about__text {
      row-gap: 0.875rem;
    }
    .about__text {
      font-size: 1.25rem;
    }
    .about__text {
      margin-bottom: 1.875rem;
    }
    .how__title {
      font-size: 3.75rem;
    }
    .how__title {
      margin-bottom: 0.625rem;
    }
    .how__step-title {
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
    }
    .how__step-title {
      margin-bottom: 0.625rem;
    }
    .how__step-title span:nth-child(1) {
      width: 2.625rem;
    }
    .how__step-title span:nth-child(1) {
      height: 2.625rem;
    }
    .how__step-title span:nth-child(1) {
      font-size: 1.625rem;
    }
    .how__step-title span:nth-child(2) {
      font-size: 1.875rem;
    }
    .how__step-text {
      font-size: 1.25rem;
    }
    .how__image {
      width: 15rem;
    }
    .memes__title {
      margin-bottom: 1.25rem;
    }
    .memes__title {
      font-size: 5rem;
    }
  }
  @media (max-width: 47.99875em) {
    .hero__social {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: 7.5rem 0.9375rem 0.9375rem 0.9375rem;
      transition: left 0.3s;
      background-color: #4c4ffc;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1.875rem;
    }
    .menu-open .menu__body {
      left: 0;
    }
    .menu__list {
      flex-direction: column;
      row-gap: 1.875rem;
    }
    .icon-menu {
      display: block;
      position: relative;
      width: 1.875rem;
      height: 1.125rem;
      z-index: 5;
    }
    .icon-menu span,
    .icon-menu::after,
    .icon-menu::before {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 0.125rem;
      background-color: #000;
    }
    .icon-menu::before {
      top: 0;
    }
    .icon-menu::after {
      bottom: 0;
    }
    .icon-menu span {
      top: calc(50% - 0.0625rem);
    }
    .menu-open .icon-menu span {
      width: 0;
    }
    .menu-open .icon-menu::before {
      top: calc(50% - 0.0625rem);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
      bottom: calc(50% - 0.0625rem);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .header__box {
      margin: 0 15px;
      width: calc(100% - 30px);
    }
    .hero {
      min-height: auto;
    }
    .hero__social {
      gap: 12px;
    }
    .hero__social-item {
      font-size: 26px;
    }
    .about__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 1.875rem;
    }
    .about__content {
      padding-left: 1.25rem;
    }
    .about__content {
      padding-left: 0;
    }
    .about__button {
      align-self: center;
    }
    .how__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 1.875rem;
    }
    .how__content {
      padding-right: 1.25rem;
    }
  }
  @media (max-width: 47.99875em) and (any-hover: none) {
    .icon-menu {
      cursor: default;
    }
  }
  @media (min-width: 47.99875em) and (max-width: 76.875em) {
    @supports (
      (
          -moz-column-gap: clamp(1.25rem, -2.9055560365rem + 8.6576338687vw, 3.75rem)
        )
        or
        (column-gap: clamp(1.25rem, -2.9055560365rem + 8.6576338687vw, 3.75rem))
    ) {
      .menu__list {
        -webkit-column-gap: clamp(
          1.25rem,
          -2.9055560365rem + 8.6576338687vw,
          3.75rem
        );
        -moz-column-gap: clamp(
          1.25rem,
          -2.9055560365rem + 8.6576338687vw,
          3.75rem
        );
        column-gap: clamp(1.25rem, -2.9055560365rem + 8.6576338687vw, 3.75rem);
      }
    }
    @supports not (
      (
          -moz-column-gap: clamp(1.25rem, -2.9055560365rem + 8.6576338687vw, 3.75rem)
        )
        or
        (column-gap: clamp(1.25rem, -2.9055560365rem + 8.6576338687vw, 3.75rem))
    ) {
      .menu__list {
        -webkit-column-gap: calc(
          1.25rem + 2.5 * (100vw - 47.99875rem) / 28.87625
        );
        -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 28.87625);
        column-gap: calc(1.25rem + 2.5 * (100vw - 47.99875rem) / 28.87625);
      }
    }
    @supports (
      (-moz-column-gap: clamp(2.5rem, -5.8111120731rem + 17.3152677373vw, 7.5rem))
        or (column-gap: clamp(2.5rem, -5.8111120731rem + 17.3152677373vw, 7.5rem))
    ) {
      .header__box {
        -webkit-column-gap: clamp(
          2.5rem,
          -5.8111120731rem + 17.3152677373vw,
          7.5rem
        );
        -moz-column-gap: clamp(
          2.5rem,
          -5.8111120731rem + 17.3152677373vw,
          7.5rem
        );
        column-gap: clamp(2.5rem, -5.8111120731rem + 17.3152677373vw, 7.5rem);
      }
    }
    @supports not (
      (-moz-column-gap: clamp(2.5rem, -5.8111120731rem + 17.3152677373vw, 7.5rem))
        or (column-gap: clamp(2.5rem, -5.8111120731rem + 17.3152677373vw, 7.5rem))
    ) {
      .header__box {
        -webkit-column-gap: calc(2.5rem + 5 * (100vw - 47.99875rem) / 28.87625);
        -moz-column-gap: calc(2.5rem + 5 * (100vw - 47.99875rem) / 28.87625);
        column-gap: calc(2.5rem + 5 * (100vw - 47.99875rem) / 28.87625);
      }
    }
    @supports (width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem)) {
      .about__image {
        width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem);
      }
    }
    @supports not (
      width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem)
    ) {
      .about__image {
        width: calc(20rem + 11.25 * (100vw - 47.99875rem) / 28.87625);
      }
    }
    @supports (
      padding-left: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem)
    ) {
      .about__content {
        padding-left: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem);
      }
    }
    @supports not (
      padding-left: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem)
    ) {
      .about__content {
        padding-left: calc(1.25rem + 3.75 * (100vw - 47.99875rem) / 28.87625);
      }
    }
    @supports (
      padding-right: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem)
    ) {
      .how__content {
        padding-right: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem);
      }
    }
    @supports not (
      padding-right: clamp(1.25rem, -4.9833340548rem + 12.986450803vw, 5rem)
    ) {
      .how__content {
        padding-right: calc(1.25rem + 3.75 * (100vw - 47.99875rem) / 28.87625);
      }
    }
    @supports (width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem)) {
      .how__image {
        width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem);
      }
    }
    @supports not (
      width: clamp(20rem, 1.2999978356rem + 38.959352409vw, 31.25rem)
    ) {
      .how__image {
        width: calc(20rem + 11.25 * (100vw - 47.99875rem) / 28.87625);
      }
    }
  }
  @media (min-width: 20em) and (max-width: 76.875em) {
    @supports (
      padding-top: clamp(1.5rem, 1.4120879121rem + 0.4395604396vw, 1.75rem)
    ) {
      .header {
        padding-top: clamp(1.5rem, 1.4120879121rem + 0.4395604396vw, 1.75rem);
      }
    }
    @supports not (
      padding-top: clamp(1.5rem, 1.4120879121rem + 0.4395604396vw, 1.75rem)
    ) {
      .header {
        padding-top: calc(1.5rem + 0.25 * (100vw - 20rem) / 56.875);
      }
    }
  
    @supports (
      padding-top: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .footer {
        padding-top: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem);
      }
    }
    @supports not (
      padding-top: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .footer {
        padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-bottom: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .footer {
        padding-bottom: clamp(
          1.25rem,
          1.0302197802rem + 1.0989010989vw,
          1.875rem
        );
      }
    }
    @supports not (
      padding-bottom: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .footer {
        padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(0.875rem, 0.831043956rem + 0.2197802198vw, 1rem)
    ) {
      .footer__container {
        font-size: clamp(0.875rem, 0.831043956rem + 0.2197802198vw, 1rem);
      }
    }
    @supports not (
      font-size: clamp(0.875rem, 0.831043956rem + 0.2197802198vw, 1rem)
    ) {
      .footer__container {
        font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem)
    ) {
      .footer__text {
        margin-bottom: clamp(
          0.9375rem,
          0.8276098901rem + 0.5494505495vw,
          1.25rem
        );
      }
    }
    @supports not (
      margin-bottom: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem)
    ) {
      .footer__text {
        margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-top: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem)
    ) {
      .footer__text {
        margin-top: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
      }
    }
    @supports not (
      margin-top: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem)
    ) {
      .footer__text {
        margin-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-top: clamp(8.75rem, 8.3104395604rem + 2.1978021978vw, 10rem)
    ) {
      .page__hero {
        padding-top: clamp(8.75rem, 8.3104395604rem + 2.1978021978vw, 10rem);
      }
    }
    @supports not (
      padding-top: clamp(8.75rem, 8.3104395604rem + 2.1978021978vw, 10rem)
    ) {
      .page__hero {
        padding-top: calc(8.75rem + 1.25 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-bottom: clamp(2.5rem, 1.6208791209rem + 4.3956043956vw, 5rem)
    ) {
      .page__hero {
        padding-bottom: clamp(2.5rem, 1.6208791209rem + 4.3956043956vw, 5rem);
      }
    }
    @supports not (
      padding-bottom: clamp(2.5rem, 1.6208791209rem + 4.3956043956vw, 5rem)
    ) {
      .page__hero {
        padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-top: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem)
    ) {
      .page__about {
        padding-top: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem);
      }
    }
    @supports not (
      padding-top: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem)
    ) {
      .page__about {
        padding-top: calc(3.75rem + 5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-bottom: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem)
    ) {
      .page__about {
        padding-bottom: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem);
      }
    }
    @supports not (
      padding-bottom: clamp(3.75rem, 1.9917582418rem + 8.7912087912vw, 8.75rem)
    ) {
      .page__about {
        padding-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__how {
        padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem);
      }
    }
    @supports not (
      padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__how {
        padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__how {
        padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem);
      }
    }
    @supports not (
      padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__how {
        padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__memes {
        padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem);
      }
    }
    @supports not (
      padding-top: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__memes {
        padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__memes {
        padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem);
      }
    }
    @supports not (
      padding-bottom: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .page__memes {
        padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (width: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)) {
      .decor-box span {
        width: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem);
      }
    }
    @supports not (
      width: clamp(2.5rem, 1.1813186813rem + 6.5934065934vw, 6.25rem)
    ) {
      .decor-box span {
        width: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .hero__main {
        margin-bottom: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem);
      }
    }
    @supports not (
      margin-bottom: clamp(1.25rem, 1.0302197802rem + 1.0989010989vw, 1.875rem)
    ) {
      .hero__main {
        margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (height: clamp(3rem, 2.6483516484rem + 1.7582417582vw, 4rem)) {
      .hero__social-item {
        height: clamp(3rem, 2.6483516484rem + 1.7582417582vw, 4rem);
      }
    }
    @supports not (height: clamp(3rem, 2.6483516484rem + 1.7582417582vw, 4rem)) {
      .hero__social-item {
        height: calc(3rem + 1 * (100vw - 20rem) / 56.875);
      }
    }
  
    @supports (font-size: clamp(1.5rem, 1.3241758242rem + 0.8791208791vw, 2rem)) {
      .hero__ca-address {
        font-size: clamp(1.5rem, 1.3241758242rem + 0.8791208791vw, 2rem);
      }
    }
    @supports not (
      font-size: clamp(1.5rem, 1.3241758242rem + 0.8791208791vw, 2rem)
    ) {
      .hero__ca-address {
        font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(1.25rem, 0.9862637363rem + 1.3186813187vw, 2rem)
    ) {
      .hero__ca-text {
        font-size: clamp(1.25rem, 0.9862637363rem + 1.3186813187vw, 2rem);
      }
    }
    @supports not (
      font-size: clamp(1.25rem, 0.9862637363rem + 1.3186813187vw, 2rem)
    ) {
      .hero__ca-text {
        font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem)) {
      .about__title {
        font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem);
      }
    }
    @supports not (
      font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem)
    ) {
      .about__title {
        font-size: calc(5rem + 2.5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      row-gap: clamp(0.875rem, 0.7431318681rem + 0.6593406593vw, 1.25rem)
    ) {
      .about__text {
        row-gap: clamp(0.875rem, 0.7431318681rem + 0.6593406593vw, 1.25rem);
      }
    }
    @supports not (
      row-gap: clamp(0.875rem, 0.7431318681rem + 0.6593406593vw, 1.25rem)
    ) {
      .about__text {
        row-gap: calc(0.875rem + 0.375 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(1.25rem, 1.1620879121rem + 0.4395604396vw, 1.5rem)
    ) {
      .about__text {
        font-size: clamp(1.25rem, 1.1620879121rem + 0.4395604396vw, 1.5rem);
      }
    }
    @supports not (
      font-size: clamp(1.25rem, 1.1620879121rem + 0.4395604396vw, 1.5rem)
    ) {
      .about__text {
        font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(1.875rem, 1.7431318681rem + 0.6593406593vw, 2.25rem)
    ) {
      .about__text {
        margin-bottom: clamp(1.875rem, 1.7431318681rem + 0.6593406593vw, 2.25rem);
      }
    }
    @supports not (
      margin-bottom: clamp(1.875rem, 1.7431318681rem + 0.6593406593vw, 2.25rem)
    ) {
      .about__text {
        margin-bottom: calc(1.875rem + 0.375 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(3.75rem, 2.4313186813rem + 6.5934065934vw, 7.5rem)
    ) {
      .how__title {
        font-size: clamp(3.75rem, 2.4313186813rem + 6.5934065934vw, 7.5rem);
      }
    }
    @supports not (
      font-size: clamp(3.75rem, 2.4313186813rem + 6.5934065934vw, 7.5rem)
    ) {
      .how__title {
        font-size: calc(3.75rem + 3.75 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(0.625rem, 0.4052197802rem + 1.0989010989vw, 1.25rem)
    ) {
      .how__title {
        margin-bottom: clamp(0.625rem, 0.4052197802rem + 1.0989010989vw, 1.25rem);
      }
    }
    @supports not (
      margin-bottom: clamp(0.625rem, 0.4052197802rem + 1.0989010989vw, 1.25rem)
    ) {
      .how__title {
        margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      (-moz-column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem)) or
        (column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem))
    ) {
      .how__step-title {
        -webkit-column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem);
        -moz-column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem);
        column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem);
      }
    }
    @supports not (
      (-moz-column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem)) or
        (column-gap: clamp(1rem, 0.8241758242rem + 0.8791208791vw, 1.5rem))
    ) {
      .how__step-title {
        -webkit-column-gap: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
        -moz-column-gap: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
        column-gap: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(0.625rem, 0.5151098901rem + 0.5494505495vw, 0.9375rem)
    ) {
      .how__step-title {
        margin-bottom: clamp(
          0.625rem,
          0.5151098901rem + 0.5494505495vw,
          0.9375rem
        );
      }
    }
    @supports not (
      margin-bottom: clamp(0.625rem, 0.5151098901rem + 0.5494505495vw, 0.9375rem)
    ) {
      .how__step-title {
        margin-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (width: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem)) {
      .how__step-title span:nth-child(1) {
        width: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem);
      }
    }
    @supports not (
      width: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem)
    ) {
      .how__step-title span:nth-child(1) {
        width: calc(2.625rem + 0.375 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (height: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem)) {
      .how__step-title span:nth-child(1) {
        height: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem);
      }
    }
    @supports not (
      height: clamp(2.625rem, 2.4931318681rem + 0.6593406593vw, 3rem)
    ) {
      .how__step-title span:nth-child(1) {
        height: calc(2.625rem + 0.375 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(1.625rem, 1.4931318681rem + 0.6593406593vw, 2rem)
    ) {
      .how__step-title span:nth-child(1) {
        font-size: clamp(1.625rem, 1.4931318681rem + 0.6593406593vw, 2rem);
      }
    }
    @supports not (
      font-size: clamp(1.625rem, 1.4931318681rem + 0.6593406593vw, 2rem)
    ) {
      .how__step-title span:nth-child(1) {
        font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(1.875rem, 1.6552197802rem + 1.0989010989vw, 2.5rem)
    ) {
      .how__step-title span:nth-child(2) {
        font-size: clamp(1.875rem, 1.6552197802rem + 1.0989010989vw, 2.5rem);
      }
    }
    @supports not (
      font-size: clamp(1.875rem, 1.6552197802rem + 1.0989010989vw, 2.5rem)
    ) {
      .how__step-title span:nth-child(2) {
        font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      font-size: clamp(1.25rem, 1.206043956rem + 0.2197802198vw, 1.375rem)
    ) {
      .how__step-text {
        font-size: clamp(1.25rem, 1.206043956rem + 0.2197802198vw, 1.375rem);
      }
    }
    @supports not (
      font-size: clamp(1.25rem, 1.206043956rem + 0.2197802198vw, 1.375rem)
    ) {
      .how__step-text {
        font-size: calc(1.25rem + 0.125 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (
      margin-bottom: clamp(1.25rem, 0.8104395604rem + 2.1978021978vw, 2.5rem)
    ) {
      .memes__title {
        margin-bottom: clamp(1.25rem, 0.8104395604rem + 2.1978021978vw, 2.5rem);
      }
    }
    @supports not (
      margin-bottom: clamp(1.25rem, 0.8104395604rem + 2.1978021978vw, 2.5rem)
    ) {
      .memes__title {
        margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
      }
    }
    @supports (font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem)) {
      .memes__title {
        font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem);
      }
    }
    @supports not (
      font-size: clamp(5rem, 4.1208791209rem + 4.3956043956vw, 7.5rem)
    ) {
      .memes__title {
        font-size: calc(5rem + 2.5 * (100vw - 20rem) / 56.875);
      }
    }
  }
  @media (min-width: 20em) and (max-width: 47.99875em) {
    @supports (width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem)) {
      .about__image {
        width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem);
      }
    }
    @supports not (
      width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem)
    ) {
      .about__image {
        width: calc(15rem + 7.5 * (100vw - 20rem) / 27.99875);
      }
    }
    @supports (width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem)) {
      .how__image {
        width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem);
      }
    }
    @supports not (
      width: clamp(15rem, 9.642617974rem + 26.7869101299vw, 22.5rem)
    ) {
      .how__image {
        width: calc(15rem + 7.5 * (100vw - 20rem) / 27.99875);
      }
    }
  }
  @media (any-hover: hover) {
    .menu__link:hover {
      scale: 0.95;
    }
    .header__button:hover {
      scale: 0.95;
    }
    .hero__social-item:hover {
      scale: 0.95;
    }
    .about__button:hover {
      scale: 0.95;
    }
    .how__step-text a:hover {
      text-decoration: none;
    }
  }
  
